:root {
    --bs-dark-rgb: 0,0,0;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.3rem;
}

h4 {
    font-size: 1.3rem;
} 

h5 {
    font-size: 0.9rem;
}

.section-base {
    padding: 30px 0px;
}

.section-hero {
    padding-top: 325px;
}

.section-medium {
    padding: 40px 0;
}

.section-large {
    padding: 50px 0;
}

.section-super {
    padding-bottom: 5px;
}

.section-title {
    margin-bottom: 50px;
}

.section-subtitle {
    margin-bottom: 30px;
}

.section-title-small {
    margin-bottom: 20px;
}

.sony-logo {
    width: 80px;
}

.my-hero {
    background-image: url(../img/img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

#lens {
    width: 25px;
}

.rounded-20 {
    border-radius: 20px;
}

.border-w {
    padding: 2px;
    border: 2px solid white;
}

.mini-img-container img:hover {
    border-radius: 20px;
    border: 2px solid rgb(0, 144, 206);
}

.active-returnal {
    border-radius: 20px;
    border: 2px solid rgb(0, 144, 206)
}

.f-w-500 {
    font-weight: 500;
}

/* ACCESSORIES */
.acc-img-container {
    padding: 8px;
    border-bottom: 2px solid white;
}

.acc-img-container:hover {
    border-bottom: 2px solid rgb(0, 144, 206);
}

.acc-filter {
    filter: opacity(50%);
}

.acc-filter:hover {
    filter: opacity(1);
}

.active-ps5 {
    border-bottom: 2px solid rgb(0, 144, 206);
}
/* -------------- */
.it-takes-two {
    background-image: url(../img/img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.bg-darkgrey {
    background-color: #1f1f1f;
}
/* --------- */
.playstation-plus {
    background-color: #bebcbb;
}
/* --------- */
.playstation-now {
    background-color: #161c3b;
}

footer {
    background-color: #00439c;
}

.language-p {
    padding-top: 4px;
    padding-left: 12px;
}

footer ul {
    list-style-type: none; 
    padding-left: 0;
}

footer ul li a {
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
}

footer ul li a:hover {
    color: rgb(147, 230, 255);
    border-bottom: 1px solid white;
}