:root {
    --bs-dark-rgb: 0,0,0;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.3rem;
}

h4 {
    font-size: 1.3rem;
} 

h5 {
    font-size: 0.9rem;
}

.section-base {
    padding: 30px 0px;
}

.section-hero {
    padding-top: 325px;
}

.section-medium {
    padding: 40px 0;
}

.section-large {
    padding: 50px 0;
}

.section-super {
    padding-bottom: 5px;
}

.section-title {
    margin-bottom: 50px;
}

.section-subtitle {
    margin-bottom: 30px;
}

.section-title-small {
    margin-bottom: 20px;
}

header {
    position: sticky;
    top: 0;
    z-index: 99;
} 

.sony-logo {
    width: 80px;
}

.my-hero {
    background-image: url(../img/img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

#lens {
    width: 25px;
    padding-top: 8px;
}

.rounded-20 {
    border-radius: 20px;
}

.border-w {
    padding: 2px;
    border: 2px solid white;
}

.mini-img-container img:hover {
    border-radius: 20px;
    border: 2px solid rgb(0, 144, 206);
    transform: translateY(-5px);
}

.active-returnal {
    border-radius: 20px;
    border: 2px solid rgb(0, 144, 206)
}

.f-w-500 {
    font-weight: 500;
}

/* ACCESSORIES */
.acc-img-container {
    padding: 8px;
    border-bottom: 2px solid white;
}

.acc-img-container:hover {
    border-bottom: 2px solid rgb(0, 144, 206);
}

.acc-filter {
    filter: opacity(50%);
}

.acc-filter:hover {
    filter: opacity(1);
}

.active-ps5 {
    border-bottom: 2px solid rgb(0, 144, 206);
}
/* -------------- */
.it-takes-two {
    background-image: url(../img/img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

.bg-darkgrey {
    background-color: #1f1f1f;
}
/* --------- */
.playstation-plus {
    background-color: #bebcbb;
}
/* --------- */
.playstation-now {
    background-color: #161c3b;
}

footer {
    background-color: #00439c;
}

.language-p {
    padding-top: 4px;
    padding-left: 12px;
}

footer ul {
    list-style-type: none; 
    padding-left: 0;
}

footer ul li {
    padding-bottom: 5px;
}

footer ul li a {
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
}

footer ul li a:hover {
    color: rgb(147, 230, 255);
    border-bottom: 1px solid white;
}

.f-logo-sony {
    margin-top: -25px;
    filter: invert(100%) brightness(10);
}

.f-logo-sony:hover {
    filter: drop-shadow(2px 4px 6px black);
}

/* BOTTONI */
.btn-secondary {
    background-color: #363636;
}

.btn-warning {
    background-color: #cd3d0f;
    border: none;
    color: white;
}

.btn-light {
    background-color: #d9dadc;
    border: none;
    color: #0072ce;
}

.btn {
    font-weight: 500;
}

header .navbar-nav .nav-link + .dropdown-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 110px;
    border: 0;
    border-radius: 0;
    border-top: 1px solid lightgray;
    justify-content: center;
}

header .navbar-nav .nav-link:focus + .dropdown-menu {
    display: block;
    text-align: center;
}

header .navbar-nav .nav-link:hover {
    color: #0072ce !important
}

header .navbar-nav .nav-link:focus {
    color: #0072ce !important
}

.dropdown-item {
    width: 18%;
}

@media (min-width: 768px) {
    .footer-links {
        display: flex;
    }
}
